In [1]:
import pandas as pd

In [2]:
interval = "2011-2020"
url = f"https://raw.githubusercontent.com/PhilChodrow/PIC16B/master/datasets/noaa-ghcn/decades/{interval}.csv"

df = pd.read_csv(url)

In [6]:
df

,Unnamed: 0,ID,Year,VALUE1,VALUE2,VALUE3,VALUE4,VALUE5,VALUE6,VALUE7,VALUE8,VALUE9,VALUE10,VALUE11,VALUE12
0,50,ACW00011604,2011,-83,-132,278,1040,1213,1663,1875,1723,1466,987,721,428
1,51,ACW00011604,2012,121,-98,592,646,1365,1426,1771,1748,1362,826,620,-234
2,52,ACW00011604,2013,-104,-93,-48,595,-9999,1612,1855,1802,1359,1042,601,-9999
3,121,AE000041196,2011,1950,2060,2280,2760,3240,3447,3580,3650,3316,2940,2390,1905
4,122,AE000041196,2012,1837,1987,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139753,1420858,ZI000067983,2012,2186,-9999,2157,1833,1835,1625,1563,-9999,2034,-9999,2298,2199
139754,1420859,ZI000067983,2013,-9999,2163,2054,1870,1729,1686,1528,1862,2100,1967,2258,2142
139755,1420860,ZI000067983,2014,-9999,2187,-9999,-9999,-9999,-9999,-9999,-9999,2087,2110,2297,-9999
139756,1420861,ZI000067983,2015,2175,2251,2083,1952,1880,1670,1650,1810,2010,2290,2230,2405
139757,1420862,ZI000067983,2016,-9999,2285,-9999,-9999,1692,1681,-9999,1828,-9999,2334,-9999,2287